*,
*:after,
*:before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family-main);
  font-size: 18px;
  background-color: var(--site-bg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-header);
}
code {
  font-family: var(--font-family-mono);
}
main {
  p {
    line-height: 1.5;
  }
}
a {
  color: var(--home-link-color);
  text-decoration: none;
  &:hover {
    color: var(--home-link-hover-color);
  }
}
